<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Sciencefunding</title>
</head>
<body>
<div th:replace="fragments/top :: header"></div>
        <div class="w3-container w3-center" th:if="${session.admin==null}">
            <div class="w3-bar w3-padding-large w3-padding-24">
                <button class="w3-btn w3-green w3-round-large w3-margin-bottom" onclick="location.href='/admin/login.html'">Sign in</button>
            </div>
        </div>
    <div th:if="${session.admin!=null}">
        <div th:replace="fragments/main :: loggedAdminPage"></div>
        Hi, <label th:text="${session.admin.email}"/> !
        <br/>
        <button class="w3-btn w3-green w3-round-large w3-border" onclick="location.href='/admin/users/1'">Watch user list</button>
        <button class="w3-btn w3-green w3-round-large w3-border" onclick="location.href='/admin/campaigns/1'">Watch campaigns list</button>
        <button class="w3-btn w3-green w3-round-large w3-border" onclick="location.href='/admin/donations/1'">Watch donations list</button>
        <form name="logoutForm" method="POST" action="" class="w3-right-align" >
            <input type="hidden" name="command" value="adminLogout" />
            <button type="submit" class="w3-btn w3-green w3-round-large w3-margin-top">Log out</button>
        </form>
    </div>
</body>
</html>
