<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Sciencefunding</title>
</head>
<body>
<div th:replace="fragments/top :: header"></div>
<div class="w3-card-4">
    <div class="w3-container ">
        <form name="loginForm" method="POST" action="">
            <input type="hidden" name="command" value="donate" />
            <input type="hidden" name="campaignId" th:value="${session.campaign.id}" />
            <div class="w3-text-black">Money:<br/></div>
            <input type="number" name="money" value="" class="w3-input w3-animate-input w3-border w3-round-large" style="width: 30%"/>
            <br/>Your comment<br/>
            <input type="text" name="comment" value="" class="w3-input w3-animate-input w3-border w3-round-large" style="width: 30%"/>
            <br/>
            <button type="submit" class="w3-btn w3-green w3-round-large w3-margin-bottom">Submit money</button>
            <p class="w3-text-red"><span th:text=" ${errorMessage}"> </span><br/></p>
        </form>
    </div>
</div>
<div class="w3-container w3-opacity w3-right-align w3-padding">
    <button class="w3-btn w3-green w3-round-large w3-border" onclick="location.href='/'">Back to main</button>
</div>

</body>
</html>
